body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

* {
  font: inherit;
}

.required::after {
  color: hsl(0, 0%, 12%);
  content: ' *';
}

label, dt {
  font-weight: bold;
}

.bg-blue {
  background-color: hsl(207, 100%, 22%);
}

.hero {
  //Background image code 
  background-image: url("https://i.imgur.com/2TicKe6.png");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

em {
  font-style: italic;
}
